
#createContainer{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url('https://img.freepik.com/free-vector/vector-cartoon-illustration-various-vegetables-wooden-background_1441-519.jpg?t=st=1725193572~exp=1725197172~hmac=28bd252b41cdee361a38b4df1a719b9e06af0e5bab4520af10bd9f5555a8905c&w=826');
    

    #box{
    background: rgb(242, 242, 242);
    opacity: 0.9;
    color: black;
}
}