 #navitems li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
  }
 #navitems li:hover::after {
    width: 100%;
  }