#storebg{
    // background-color: aqua;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("https://img.freepik.com/free-photo/creative-healthy-food-composition_23-2147802941.jpg?t=st=1725207057~exp=1725210657~hmac=3e15944a91b3e331c4ac6a06a2b830fe2339dcd05ab539d272810b40fe45f2ed&w=740");
background-repeat: no-repeat;
    background-size:cover;
}